<ion-view view-title="Register">
  <ion-content class="padding">
   <div class="list">
   	<label class="item item-input">
	    <input type="text" placeholder="Username" ng-model="username.value">
	  </label>
	  <label class="item item-input">
	    <input type="text" placeholder="Email" ng-model="email.value">
	  </label>
	  <label class="item item-input">
	    <input type="password" placeholder="Password" ng-model="password.value">
	  </label>

	</div>
	<div class="padding">
       <button class="button button-block button-positive" ng-click="doRegister()">Login</button>
       <a href="#/login">Or Login</a>
    </div>
  </ion-content>
</ion-view>