<ion-view view-title="Comments">

  <ion-content class="padding">
    <ion-list>
      <ion-item class="item-avatar" ng-repeat="user in users" type="item-text-wrap">
        <img ng-src="{{user.face}}">
        <h2>{{user.name}}</h2>
        <p>This is a comments</p>
      </ion-item>
    </ion-list>    

    <div class="list">

	  <label class="item item-input">
	    <textarea placeholder="Comments" autofocus></textarea>
	  </label>
	  <button class="button button-block button-positive">Send</button>
	</div>


  </ion-content>

</ion-view>




