<ion-view view-title="Posts" hide-back-button="true">
  <ion-nav-buttons side="secondary">
      <a class="button button-icon icon ion-refresh" ng-click="doRefresh()"></a>
    </ion-nav-buttons>

  <ion-content class="padding">


    <div class="list card" ng-repeat="post in posts">
      <div class="item item-avatar">
        <img src="http://192.168.1.35:8888/{{ post.User.avatar }}">
        <h2>{{ post.User.username }}</h2>
        <p><span am-time-ago="post.createdAt"></span></p>
      </div>

      <div class="item item-body">
        <!-- http://192.168.1.34:8888/  http://photoshare-siteapps.rhcloud.com/ -->
         <img class="full-image" src="http://192.168.1.35:8888/{{ post.photo }}">
        <!--
        <img class="full-image" src=" https://scontent-a-mia.xx.fbcdn.net/hphotos-xap1/v/t1.0-9/s600x600/10952059_10205674573565909_7384729071168252519_n.jpg?oh=880213ca89071b9bb2883fff21c8f72d&oe=55636831">
      -->

        <p>
          {{ post.description }}
        </p>
        <p>
          <a href="#" class="subdued">{{ post.likes }} Like</a>
          <a href="" class="subdued">5 Comments</a>
        </p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">

        <a class="tab-item " ng-class="{active : liked }" ng-click="liked=!liked;likePost($index, post.id)">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item" href="#/tab/post/{{post.id}}/comments">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>
    </div>

    <ion-infinite-scroll
      on-infinite="loadMore()"
      distance="1%">
    </ion-infinite-scroll>

  </ion-content>
</ion-view>
